.UserPhotoUpload {
  /* height: 100vh; */
  width: 100%;
  position: relative;
}
.uploadFailPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;

  /* z-index: 200; */
}
.loadingImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ebc83c;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 200; */
}
.loadingImage > span {
  color: #c4ab46;
  font-family: "Archivo Black", sans-serif;
  /* font-size: 0; */
  line-height: 1.5;
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}
@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.loadingImage span:nth-child(2) {
  animation-delay: 0.5s;
}

.loadingImage span:nth-child(3) {
  animation-delay: 1s;
}

.loadingImage span:nth-child(4) {
  animation-delay: 1.5s;
}

.loadingImage span:nth-child(5) {
  animation-delay: 2s;
}

.loadingImage span:nth-child(6) {
  animation-delay: 2.5s;
}

.loadingImage span:nth-child(7) {
  animation-delay: 3s;
}
.loadingImage span:nth-child(8) {
  animation-delay: 3s;
}
.loadingImage span:nth-child(9) {
  animation-delay: 3s;
}

.userPhotoHeader {
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: white;

  /* background-color: transparent; */

  box-shadow: 1px 1px 5px 1px black;
}
.errorPhoto {
  font-size: 15px;
  margin-bottom: 5px;
  font-family: "Montserrat Alternates";
  color: crimson;
}
.userPhotoHeader > h1,
.userPhotoMainContentPhotos > .headingPhoto,
.userPhotoMainContentDesc > h2,
.uploadFailPage > h1 {
  margin-left: 10px;
  font-size: 30px;
  background: -webkit-linear-gradient(-90deg, rgb(21, 163, 76), rgb(2, 75, 33));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat Alternates";
  font-weight: 900;
}

.userPhotoMain {
  /* height: 90vh; */
  margin-top: 14vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.userPhotoMainContent {
  /* background-color: antiquewhite; */
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  width: 60%;
  align-self: center;
  margin-bottom: 10vh;

  /* height: 50vh; */
}
.userPhotoMainContentPhotos {
  margin-left: 10%;
}
.userPhotoMainContentDesc {
  /* background-color: red; */
  margin-left: 10%;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .userPhotoMainContent {
    width: 80%;
  }
  .loadingImage > span {
    font-size: 3rem;
  }
}

/* .addMore {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
