@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap");
.hero {
  height: 80vh;
  background-color: var(--primary);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.heroMain {
  height: 90vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  /* position: relative; */
}
.heroMain::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.heroContainerOne {
  width: 30%;
  height: 70vh;
  border: 0.001px dotted rgb(247, 228, 193);
  position: absolute;
  top: 60px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroContainerOneImage {
  height: 300px;
  width: 200px;
  background-image: url("../../Images/heroMain.jpg");
  background-size: cover;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: relative;
}
.heroContainerOneImage::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background-size: cover;
}
.heroContainerOneHeadings {
  position: absolute;
  left: 32%;
  top: 30%;
  z-index: 10;
}
.heroContainerOneHeadings > h1 {
  font-size: 95px;
  font-weight: 50;
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(236, 222, 195);
}
.heroContainerOneHeadingsInner {
  margin-top: 50px;
  text-align: center;
}
.heroContainerOneHeadingsInner > h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 45px;
  font-weight: 200;
  color: rgb(231, 215, 183);
}
/* @media only screen and (max-width: 700px) {
  .heroContainerOne {
    width: 60%;
  }
  .heroContainerOneHeadingsInner > h1 {
    font-size: 30px;
  }
  .heroContainerOneHeadings > h1 {
    font-size: 50px;
  }
} */
